<!-- this is the tittle with the logo -->

<div class="container-tittle">
    <img class="img" src="https://i.pinimg.com/originals/5c/93/49/5c93497c0a8bebf0214fe4389f53658b.png" alt="Luffy Flag">
    <h1 class="tittle">Strawhat Pirates</h1>
</div>

<!-- this is the nav-bar for all the sreen -->

<app-nav-bar></app-nav-bar>

<br>
<br>
<!-- This is the Home-Screen -->

<app-home></app-home>


<!-- This is the Types-Screen -->

<app-types></app-types>


<!-- This is the Services-Screen -->


<app-services></app-services>


<!-- This is the Contact-Screen -->


<app-contact></app-contact>



<!-- This is the 404-Screen -->



<app-error-page></app-error-page>