<div class="container">
    <div class="red">
        <div class="image">
            <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/2048px-WhatsApp_logo-color-vertical.svg.png" alt="">
        </div>
        <h2 class="tittle">Whatsapp</h2>
    </div>
    <div class="red">
        <div class="image">
            <img class="img" src="https://icon-library.com/images/facebook-logo-icon-file/facebook-logo-icon-file-28.jpg" alt="">
        </div>
        <h2 class="tittle">Facebook</h2>
    </div>
    <div class="red">
        <div class="image">
            <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" alt="">
        </div>
        <h2 class="tittle">Instagram</h2>
    </div>
    <div class="red">
        <div class="image">
            <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX7KzHuOhu1jNikob_z8xcqQVeK8_UXFFUfxlMhWQlmtrkSh9OQHzhSXhp6DwpXGEIecE&usqp=CAU" alt="">
        </div>
        <h2 class="tittle">Linkedin</h2>
    </div>
</div>