.container{
    display: flex;
    justify-content: center;
}

.padre{
    background-color: #9F040E;
    width: 55%;
    padding: 1.5%;
    border-radius: 20px;
    font-family: monospace;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.text{
    color: #CED4DA;
    display: flex;
    justify-content: center;
}

.tarjetas{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cards{
    margin: 2%;
    display: flex;
    justify-content: space-around;
}

footer{
    color: #666666;
}